.smallText {
  font-size: medium;
}

.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 1.28rem;
}

.noPadding {
  padding: 0 !important;
}

.noShadow {
  box-shadow: none !important;
}